bin/*
include/*
lib/*
pyvenv.cfg

raw_mp3s/*
!raw_mp3s/happy_birthday

raw_spectrograms/*
!raw_spectrograms/happy_birthday

processed_wav/*
!processed_wav/happy_birthday

pres_images/*

CIFAR10
.DS_Store